@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-banana: oklch(0.95 0.05 100);
}

.dark {
  --color-mint-500: oklch(0.95 0.05 100);
  --color-banana: oklch(0.72 0.11 178);
}

@theme {
  --color-mint-500: var(--color-mint-500);
  --color-banana: var(--color-banana);

  --animate-shimmer: shimmer 4s infinite linear;
  @keyframes shimmer {
    0% {
      background-position: 200%;
    }
    100% {
      background-position: -200%;
    }
  }
}

@utility skeleton {
  @apply animate-shimmer rounded-sm bg-gradient-to-r from-gray-300 via-gray-100 to-gray-300 bg-size-[300%_100%];
}
