@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #171717;
  --bg: #fff;
  --foreground: #0a0a0a;
  --primary-foreground: #fafafa;
  --text: #737373;
  --card: #f8f8f8;
  --input: #e5e5e5;
  --border: #e5e5e5;
}

.dark {
  --primary: #e5e5e5;
  --bg: #0a0a0a;
  --foreground: #fafafa;
  --primary-foreground: #171717;
  --text: #a1a1a1;
  --card: #161616;
  --input: #ffffff26;
  --border: #ffffff1a;
}

@theme {
  --color-primary: var(--primary);
  --color-bg: var(--bg);
  --color-foreground: var(--foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-text: var(--text);
  --color-card: var(--card);
  --color-input: var(--input);
  --color-border: var(--border);

  --animate-shimmer: shimmer 4s infinite linear;
  @keyframes shimmer {
    0% {
      background-position: 200%;
    }
    100% {
      background-position: -200%;
    }
  }
}

@utility skeleton {
  @apply animate-shimmer rounded-sm bg-gradient-to-r from-gray-300 via-gray-100 to-gray-300 bg-size-[300%_100%];
}

/* ---------- 스크롤바 및 기본 스타일 ---------- */
body {
  color: var(--color-text);
  background-color: var(--color-bg);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 9999px;
}
